* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  height: 50px;
  width: 140px;
  border: none;
  border-radius: 12px;
  background-color: rgb(161, 68, 248);
  color: white;
  font-size: larger;
}

section {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 3rem;
}

section .task-column {
  background-color: rgb(71, 118, 119);
  flex-grow: 1;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
  box-shadow: 4px 4px rgb(212, 211, 211);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
  border: 2px dashed rgb(230, 228, 228);
  scale: 1.05;
}

section .task-column .heading {
  font-size: larger;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .task-column .task {
  background-color: rgb(44, 44, 44);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: grab;
}

section .task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: larger;
  border: none;
  background-color: blanchedalmond;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
