* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main,
section {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.infos {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.board {
  height: 90vh;
  width: 100%;
  margin: 1rem 0;
  border: 2px solid rgb(227, 255, 12);
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
}

.block {
  height: 30px;
  width: 30px;
  border: 1px solid white;
}
