* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main,
section {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.infos {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.board {
  height: 90vh;
  width: 90%;
  margin: 1rem auto;
  border: 2px solid rgb(227, 255, 12);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  place-content: center;
}

.block {
  border: 0.5px solid rgba(255, 255, 255, 0.472);
}

.snakeColor {
  background-color: rgb(249, 17, 17);
  border-radius: 12px;
}
