* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main,
section {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}
section {
  padding: 1rem;
}

.infos {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.board {
  border: 2px solid white;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
}

.block {
  height: 30px;
  width: 30px;
  border: 1px solid white;
}
