* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main,
section {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.infos {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.board {
  height: 90vh;
  width: 90%;
  margin: 1rem auto;
  border: 2px solid rgb(227, 255, 12);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  place-content: center;
}

.block {
  border: 0.5px solid rgba(255, 255, 255, 0.472);
}

.snakeColor {
  background-color: rgb(249, 17, 17);
  border-radius: 12px;
}

.food {
  background-color: rgb(36, 249, 17);
  border-radius: 12px;
}

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(84, 83, 83, 0.734);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .start-game,
.modal .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.modal .game-over {
  display: none;
}

.start-btn {
  height: 60px;
  width: 120px;
  background-color: rgb(249, 42, 42);
  color: black;
  font-size: large;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 12px 12px 12px black;
}

.start-game h2 {
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.btn-restart {
  height: 60px;
  width: 120px;
  background-color: rgb(41, 247, 31);
  color: black;
  font-size: large;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 12px 12px 12px black;
}
