.main {
    height: 200px;
    width: 600px;
    background-color: rgb(57, 2, 210);
    color: white;
    font-family: 'Courier New', Courier;
    font-size: larger;
    padding:10px;
    border-radius: 1rem;
}

.pass-form {
    border: none;
    height: 50px;
    width: 300px;
    margin-right: 5px;
    border-radius: 12px;
}

.btn {
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 100px;
}

body {
    background-color: rgb(21, 20, 20);
}