.card {
  height: 500px;
  width: 500px;
  background-color: rgb(203, 200, 196);
  color: black;
  border: 2px solid black;
}

.main {
  display: flex;
  justify-content: center;
}

.dark {
  background-color: black;
  color: white;
  font: bold;
  border: 2px solid white;
}
